@import "~antd/dist/antd.css";

.login-container{
    width: 20rem;
    margin: auto;
    margin-top: 10rem;
}

.review-container{
    width: 20rem;
    margin: auto;
    margin-top: 5rem;
}


.customer-container{
    width: 70%;
    margin: auto;
    margin-top: 5rem;
}

.navbar{
    text-align: right;
}
