@import "~antd/dist/antd.css";

/* .login-container{
    width: 60%;
    margin: auto;
    margin-top: 10rem;
}

.review-container{
    width: 40%;
    margin: auto;
    margin-top: 5rem;
}

.customer-container{
    width: 70%;
    margin: auto;
    margin-top: 5rem;
}

.navbar{
    text-align: center;
} */
.ant-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    color: #fafafa;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.ant-modal {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    top: 0px;
    width: auto;
    margin: 0 auto;
    padding-bottom: 24px;
}
.ant-modal-title {
    margin: 0;
    color: rgba(239, 232, 232, 0.85);
}

.ant-modal-header {
    padding: 16px 24px;
    color: rgba(0, 0, 0, 0.65);
    background:#001529;
}
.ant-modal-body {
     padding: 0;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}
.login-container{
    width: 60%;
    margin: auto;
    margin-top: 10rem;
    max-width: 420px;
}

 
.review-container{
   margin-left: auto;
     margin-right: auto;
   width: 70%;
   max-width:420px;
}
.navbar{
   text-align: right;
}
.customer-container {
   margin-left: auto;
     margin-right: auto;
   width: 70%;
   max-width:720px;
}
.ant-carousel .slick-slide {
   text-align: center;
   height: 30%;
   line-height: 30%;
   /* background: #364d79; */
   overflow: hidden;
 }
 
 .ant-carousel .slick-slide img {
   height: 30%;
   width: 100%;
 }

 img{
   width: 125%;
 }

 